*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.7;
}

h2 {
    font-size: 3rem;
}

.navigation {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    margin-inline-start: 2rem;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
}

li a:hover {
    background: rgb(0, 0, 0);
    text-decoration: none;
}

img {
    height: 3rem;
    width: auto;
}


.projects {
    background: rgba(128, 128, 128, 0.144);
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

.about-section {
    display: grid;
}

.bio {
    display: grid;
    justify-content: center;
}

.skills-section {
    display: grid;
    justify-content: center;
}

#about-title, #skills-title {
    margin-top: 20px;
    text-align: center;
}

#bio-title {
    text-align: center;
}

@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    80% {
      transform: translateX(10px);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    80% {
      transform: translateX(-10px);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }